@media (max-width: 40em) {
  html {
    font-size: 56.25%;
  }
  .flags-box {
    flex-direction: column;
  }
  section {
    padding: 6.4rem 3.2rem;
  }
  .inputs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .input-amount {
    grid-column: 1/-1;
  }
}
